div + .lion {
    background-color: red;
}

ul > .lion {
    background-color: greenyellow;
}

ul > #tiger {
    background-color: yellow;
}

.lion {
    color: sienna;
}

ul > .lion {
    font-weight: 900;
}

#tiger + li {
    background-color: skyblue;
}

ul >  li ~ li {
    background-color: orange;
}