[disabled] {
    background-color: red;
}

input:not([disabled])[placeholder=Name] {
    background-color: orange;
}

input:not([disabled]):not([placeholder]) {
    background-color: blue;
}

/* 속성값이 특정 단어를 포함하는 요소(~=) */
[class~="note"] {
    background-color: greenyellow;
}

/* 속성값이 특정 접두사로 시작하는 경우(^=) */
[href^= "http"] {
    color: coral;
}

/* 속성값이 특정 접미사로 끝나는 경우($=) */
/* 속성값이 특정 문자열을 포함하는 요소(*=) */