.container {
    /* 1. 박스 존재 증명 */
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: white;

    /* 2. 위치 제어 */
    position: relative;
}

.item1 {
    /* 1. 박스 존재 증명 */
    width: 50px;
    height: 50px;
    background-color: coral;

    /* 2. 위치 제어 */
    position: relative;
    top: 30px;
    left: 50px;

    /* 3. 폰트 */
    font-size: small;
    display: flex;
    font-style: unset;
    align-items: center; /* 세로 중앙 */
    justify-content: center; /* 가로 중앙 */
}

.item2 {
    /* 1. 박스 존재 증명 */
    width: 50px;
    height: 50px;
    background-color: yellowgreen;

    /* 2. 위치 제어 */
    position: absolute;
    right: 30px;
    bottom: 100px;

    /* 3. 폰트 */
    font-size: large;
    display: flex;
    font-style: oblique;
    align-items: center; /* 세로 중앙 */
    justify-content: center; /* 가로 중앙 */
}

.item3 {
    /* 1. 박스 존재 증명 */
    width: 50px;
    height: 50px;
    background-color: skyblue;

    /* 2. 위치 제어 */
    position: fixed;
    right: 100px;
    top: 100px;

    /* 3. 폰트 */
    font-size: medium;
    display: flex;
    font-style: inherit;
    align-items: center; /* 세로 중앙 */
    justify-content: center; /* 가로 중앙 */
}