.container {
    width: 400px;
    height: 400px;
    background-color: #81C784;
}

.eye1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 80px;
    z-index: 6;
}

.eye2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 70px;
    left: 85px;
    z-index: 7;
}

.circle1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1E40AF;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 5;
    border: 3px solid rgba(255,255,255,0.6)
}

.circle2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2563EB;
    position: absolute;
    top: 80px;
    left: 110px;
    z-index: 4;
}

.circle3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3B82F6;
    position: absolute;
    top: 120px;
    left: 170px;
    z-index: 3;
}

.circle4 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #60A5FA;
    position: absolute;
    top: 160px;
    left: 230px;
    z-index: 2;
}

.circle5 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #93C5FD;
    position: absolute;
    top: 200px;
    left: 290px;
    z-index: 1;
}