body { 
    margin: 0; 
    padding: 24px;
    background: #f6f7fb;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
}

.item {
    border: 1px solid rgba(0,0,0,.6);
    box-sizing: border-box;
    padding: 14px;
    font: 700 20px/1 system-ui;
    text-align: center;
    align-content: center;
    border-radius: 12px;
    background-clip: padding-box;
    box-shadow: 0 6px 16px rgba(0,0,0,.08);
}
    

.item1 {
    background-color: #7A1F2B; grid-column: 1 / -1; grid-row: 1;
}

.item2 {
    background-color: #FFA500; grid-column: 1 / 2; grid-row: 2 / 4;
}

.item3 {
    background-color: #FFFF00; grid-column: 2 / 6; grid-row: 2;
}

.item4 {
    background-color: #ADFF2F; grid-column: 6 / 7; grid-row: 2 / 4;
}

.item5 {
    background-color: #9ACD32; grid-column: 2 / 4; grid-row: 3;
}

.item6 {
    background-color: #008000; grid-column: 4 / 6; grid-row: 3;
}

.item7 {
    background-color: #87CEEB; grid-column: 1 / -1; grid-row: 4;
}