.box{
    width: 100px;
    height: 100px;
    background:#000;
    color: bisque;
    font-size: small;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition-delay: 0.5s;
    transition: 1s ease;
}

.text{
    line-height: 1.5;     
    padding-right: 6px;
    overflow-y: auto;
}

.box:hover {
    width: 300px;
    height: 300px;
}
