.div1 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    background-color: aqua;
    cursor: pointer;
}

/* hover */
.div1:hover {
    background-color: blue;
}

/* active */
.div1:active {
    background-color: red;
}

.btn {
    margin-top: 20px;
    background-color: beige;
    cursor: pointer;
    padding: 10px;
}

.btn:hover {
    background-color: brown;
}

.btn:active {
    background-color: blueviolet;
}

/* focus */
input:focus {
    background-color: coral;
}

/* 가상 클래스 선택자 */
.fruits *:first-child {
    background-color: coral;
}

.fruits *:last-child {
    background-color: blueviolet;
}

.fruits li:nth-child(2) {
    background-color: blue;
}

.fruits li:nth-child(2n + 1) {
    background-color: tomato;
}
.fruits *:not(li) {
    background-color: bisque;
}

/* 가상 요소 선택자 */
.box::after {
    content: ' list';
}

.box::before {
    content: 'recommendation ';
}

.box:last-of-type::before {
    content: 'taxi!!! ';
    color: blue;
}

.box:last-of-type::after {
    content: ' hurry up!!!!';
    color: red;
}