body {
    margin:0;
}

div {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    text-align: center;
    align-content: center;
}

.position-relative {
    background-color: bisque;
    position: relative;
    left: 100px;
}

.position-absolute {
    background-color: yellowgreen;
    position: absolute;
    top: 100px;
    left: 0;
}

.position-fixed {
    background-color: coral;
    position: fixed;
    top: 0;
    left: 0;
}