body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 3px solid gray;
    border-top: 3px solid coral;
    border-radius: 50%;
    /* 애니메이션 */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.blink {
    font-size: 20px;
    font-weight: bold;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    0%,

    100% {
        opacity: 100;
    }

    50% {
        opacity: 0;
    }
}